body{
    background-color: black;
    margin: 0;
    padding: 0;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 47, 52);
    padding: 5px;
    
   
}
button{
    padding-right: 10px;
    border: none;
    outline: none;
    background-color: rgb(43, 47, 52);
}
.search-button {
    background-color: rgb(43, 47, 52);
    color: green;
    border: 1px solid green;
    border-radius: 10%;
    padding: 5px;
}
.search-button:hover {
    background-color: green;
    color: white;
}

input{
    padding: 4px;
    color: grey;
    border: 0px;
    border-radius: 2%;
}
span{
    padding-right: 10px;
    color: white;
}
a{
    padding-right: 10px;
    text-decoration: none;
}

select{
    
    border: none;
    outline: none;
    background-color: rgb(43, 47, 52);
    color: rgb(131, 130, 130);
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    
}

.search{
    margin-left: auto;
}
.disabled{
    color: rgb(111, 110, 110);
    padding-right: 50px;
    padding-left: 10px;
}

#home{
    color: white;
}
#link{
    color: rgb(131, 130, 130);
}

.hamburger-menu {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

.menu {
    display: none;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu {
        display: block;
    }
    .navbar{
        display: none;
    }
}